.title-bar{
    font-size: 35px;
    color: white;
    font-weight: bold;
}
.container{
    padding-left: 300px;    
    width: 100%;
}

.container .row {
    margin: auto;
}

.content{
    margin-top: 25px;
    margin-bottom: 12px;
}
.ms{
    background-color: rgb(0,0,0);
    width: 100%;
}
@media only screen and (max-width: 992px){
    .container{
        padding-left: 0;    
        width: 95%;
    }
}

.alert-danger{
    color: red;
}

.pagination li.active a {
    
    background-color: rgb(255,152,0);
}